* {
    box-sizing: border-box;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

button {
    transition-duration: 0.4s;
    background-color: white;
    color:black;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 16px;
}

button:focus{
    color:blueviolet;
}

#set {
    display: inline;
}

#set_hide {
    display: none;
}

.header-flex-box-container, .body-flex-box-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.header-box, .body-box{
    background-color:khaki;
    border: 5px;
    width: 400px;
    margin: 20px;
}

#leftscore, #rightscore, #score, #leftteam, #rightteam{
    font-size: 24px;
}

#set{
    font-size: 20px;
}

footer {
    background-color: saddlebrown;
    color: white;
    margin: 0;
    padding: 0;
    position: sticky;
    top: -50px;
    height: 110px;
    text-align: center;
}

footer>p{
    margin: 0;
    font-size: 12px;
}

.wrapper{
    min-height: 100%;
    padding-bottom: 90px;
    margin: 0px;
    padding: 0;
    background-color: burlywood;
    height: 100%;
}

body {
    margin: 0px;
}

img{
    margin-left: 5px;
    margin-right: 5px;
}




